body { font-family: sans-serif; margin: 0; }
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1em;
}
a { text-decoration: none; color: black; }
a.pad { padding-right: 2em; }
.title { font-size: 2em; }
.container { width: 90vw; margin: auto; }
.grid { margin: auto; }
img { width: inherit; }
.grid-item {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.grid-item--width2 { width: 400px; }
p { max-width: 600px; text-align: justify; }

.grid-250-400 { width: 250px; height: 400px; }
.grid-300-250 { width: 300px; height: 250px; }
.grid-300-350 { width: 300px; height: 350px; }
.grid-300-400 { width: 300px; height: 400px; }
.grid-350-400 { width: 350px; height: 400px; }
.grid-350-500 { width: 350px; height: 500px; }
.grid-400-500 { width: 400px; height: 500px; }
.grid-400-650 { width: 400px; height: 650px; }
.grid-600-350 { width: 600px; height: 350px; }
.grid-600-800 { width: 600px; height: 800px; }
.grid-800-700 { width: 800px; height: 700px; }

/* mobile view */
@media (max-width: 600px) {
  .container { width: 260px; }
  nav > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  a.pad { padding-right: 0; }
  .grid-item, .grid-item > img {
    width: 260px;
  }
}
